p {
    font-family: 'Segoe UI' !important;
}
ul{
    list-style-type: square;
}
.lead{
    font-size: 1rem !important;
}
.bg-body {
    background-color: #f1f1f1 !important;
}
.bg-darkkhaki{
    background-color: darkkhaki;
}
.bg-darksalmon{
    background-color: darksalmon;
}
.bg-darkseagreen{
    background-color:darkseagreen;
}
.bg-darkturquoise{
    background-color: darkturquoise;
}
.bg-indianred{
    background-color: indianred;
}
.bg-lightgreen{
    background-color: lightgreen;
}
.bg-lightpink{
    background-color: lightpink;
}
.bg-lightsalmon{
    background-color: lightsalmon;
}
.bg-lightseagreen{
    background-color: lightseagreen;
}
.bg-lightsteelblue{
    background-color: lightsteelblue;
}
.bg-mediumaquamarine{
    background-color: mediumaquamarine;
}
.bg-mediumseagreen{
    background-color: mediumseagreen;
}
.bg-navajowhite{
    background-color: navajowhite;
}
.bg-rosybrown{
    background-color: rosybrown;
}
.bg-skyblue{
    background-color: skyblue;
}
.bg-tan{
    background-color: tan;
}
.bg-yellowgreen{
    background-color: yellowgreen;
}
.main-container{
    box-shadow: -2px 0px 10px -4px black;
}
.main-card {
    border: 0;
    border-radius: 0px;
    box-shadow: -2px 0px 10px -4px black;
    padding: 20px;
}
.title {
        font-family: "Unica One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size:55px;
        color:darkslategray;
        text-shadow: 1px 2px 2px black;
}
.heading{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:#212121;
}